Repository Orden-der-letzten-Haltestelle/WebEngineering, pull requests merged in 2025-07, with the labels that each got.

#88 Product backend
  app/backend/src/controllers/cart.controllers.js
  app/backend/src/controllers/product.controller.js
  app/backend/src/models/product.model.js
  app/backend/src/routes/product.routes.js
  app/backend/src/services/product.service.js
  bruno/auth/Protected.bru
  bruno/collection.bru
  bruno/products/CreateProduct.bru
  bruno/products/DeleteProductById.bru
  bruno/products/GetProductById.bru
  bruno/products/GetProductsWithFilter.bru
  bruno/products/UpdateProductById.bru
  db/testdata.sql
Labels: Backend

#109 Added Order History
  app/frontend/api/CartApiHandler.js
  app/frontend/api/orderPage_apiHandler.js
  app/frontend/controller/CartController.js
  app/frontend/pages/orders/OrderPage.css
  app/frontend/pages/orders/OrderPage.ejs
  app/frontend/pages/orders/OrderPage.js
Labels: Frontend

#120 Product page
  app/backend/src/exceptions/TokenVerificationError.js
  app/frontend/api/productApiHandler.js
  app/frontend/controller/ProductController.js
  app/frontend/frontend.index.js
  app/frontend/index.css
  app/frontend/index.ejs
  app/frontend/pages/products/ProductPage.css
  app/frontend/pages/products/ProductPage.ejs
  app/frontend/pages/products/ProductPage.js
Labels: Frontend

#132 Wishlist dev
  README.md
  app/backend/src/controllers/wishlist.controller.js
  app/backend/src/exceptions/ServerError.js
  app/backend/src/exceptions/cart.routes.js
  app/backend/src/models/wishlist.model.js
  app/backend/src/models/wishlistitem.model.js
  app/backend/src/objects/items/WishlistItem.js
  app/backend/src/objects/user/WishlistMember.js
  app/backend/src/objects/user/WishlistRoles.js
  app/backend/src/objects/wishlist/BasicWishlist.js
  app/backend/src/objects/wishlist/Wishlist.js
  app/backend/src/routes/wishlist.routes.js
  app/backend/src/services/auth.service.js
  app/backend/src/services/cart.service.js
  app/backend/src/services/wishlist.service.js
  app/backend/src/validator/validator.cart.js
  app/backend/src/validator/validator.product.js
  app/frontend/pages/profile/ProfilePage.js
  app/index.js
  bruno/auth/Login.bru
  bruno/collection.bru
  bruno/wishlist/AddProductToWishlist.bru
  bruno/wishlist/AddUserToWishlist.bru
  bruno/wishlist/ChangeRoleOfRelation.bru
  bruno/wishlist/CreateWishlist.bru
  bruno/wishlist/DeleteRelation.bru
  bruno/wishlist/DeleteWishlist.bru
  bruno/wishlist/DeleteWishlistItem.bru
  bruno/wishlist/GetWishlistById.bru
  bruno/wishlist/GetWishlistByUser.bru
  bruno/wishlist/UpdateWishlist.bru
  db/testdata.sql
  startDevDB.bat
Labels: Backend

#134 Feature login with email
  app/backend/src/controllers/auth.controller.js
  app/backend/src/routes/auth.routes.js
  app/backend/src/services/auth.service.js
  app/frontend/api/AuthApiHandler.js
  app/frontend/controller/AuthController.js
  app/frontend/pages/login/loginMail/Link/LoginPage.ejs
Labels: Backend

#137 Bug fix
  app/backend/src/controllers/auth.controller.js
  app/backend/src/models/product.model.js
  app/backend/src/models/user.model.js
Labels: bug, Backend, improvement

#158 Einmal login
  app/backend/src/controllers/auth.controller.js
  app/backend/src/models/auth.model.js
  app/backend/src/routes/auth.routes.js
  app/backend/src/services/auth.service.js
  app/backend/src/services/product.service.js
  app/frontend/api/AuthApiHandler.js
  app/frontend/api/VerifactionApiHandler.js
  app/frontend/components/navbar/navbar.html
  app/frontend/components/navbar/navbar.js
  app/frontend/controller/AdminController.js
  app/frontend/controller/AuthController.js
  app/frontend/controller/CartController.js
  app/frontend/controller/ProductController.js
  app/frontend/controller/UserController.js
  app/frontend/frontend.index.js
  app/frontend/helper.js
  app/frontend/index.css
  app/frontend/index.ejs
  app/frontend/pages/loginToken/loginToken.css
  app/frontend/pages/loginToken/loginToken.ejs
  app/frontend/pages/loginToken/loginToken.js
  app/frontend/pages/register/RegisterPage.ejs
  app/index.js
  bruno/auth/LoginWithToken.bru
  db/init.sql
Labels: Frontend, Backend

#148 Detaillierte produktansicht
  app/backend/src/services/product.service.js
  app/frontend/api/productApiHandler.js
  app/frontend/components/AdminPageUserItem/AdminPageUserItem.css
  app/frontend/components/AdminPageUserItem/AdminPageUserItem.ejs
  app/frontend/components/CartItem/CartItem.ejs
  app/frontend/controller/ProductController.js
  app/frontend/frontend.index.js
  app/frontend/index.ejs
  app/frontend/pages/products/productDetailled/ProductDetailled.css
  app/frontend/pages/products/productDetailled/ProductDetailled.ejs
  app/frontend/pages/products/productDetailled/ProductDetailled.js
  app/frontend/pages/products/productPage/ProductPage.css
  app/frontend/pages/products/productPage/ProductPage.ejs
  app/frontend/pages/products/productPage/ProductPage.js
  app/frontend/style/deletebutton.css
  app/frontend/style/overlay.css
Labels: Frontend

#179 finished improvements
  app/frontend/index.css
  app/frontend/pages/products/productDetailled/ProductDetailled.css
  app/frontend/pages/products/productDetailled/ProductDetailled.ejs
  app/frontend/style/overlay.css
Labels: Ready For Review

#180 finished
  app/frontend/controller/ProductController.js
Labels: Ready For Review

#175 Checkout page finished
  app/backend/src/controllers/checkout.controller.js
  app/backend/src/controllers/confirm.controller.js
  app/backend/src/routes/confirm.routes.js
  app/backend/src/services/cart.service.js
  app/frontend/api/checkoutApiHandler.js
  app/frontend/api/productApiHandler.js
  app/frontend/components/CartItem/CartItem.css
  app/frontend/controller/WishlistController.js
  app/frontend/controller/checkoutController.js
  app/frontend/frontend.index.js
  app/frontend/index.ejs
  app/frontend/pages/checkout/CheckoutPage.css
  app/frontend/pages/checkout/CheckoutPage.ejs
  app/frontend/pages/checkout/CheckoutPage.js
  app/frontend/pages/checkoutConfirm/CheckoutConfirmPage.css
  app/frontend/pages/checkoutConfirm/CheckoutConfirmPage.ejs
  app/frontend/pages/checkoutConfirm/CheckoutConfirmPage.js
  app/frontend/pages/products/productPage/ProductPage.ejs
  app/frontend/pages/products/productPage/ProductPage.js
  package-lock.json
Labels: question

#184 166 user management page for detailed wishlist
  app/frontend/api/WishlistApiHandler.js
  app/frontend/api/user.js
  app/frontend/components/WishlistMember/WishlistMember.css
  app/frontend/components/WishlistMember/WishlistMember.ejs
  app/frontend/controller/WishlistController.js
  app/frontend/frontend.index.js
  app/frontend/pages/wishlist/detailedWishlist/DetailedWishlistPage.ejs
  app/frontend/pages/wishlist/wishlistUserManager/WishlistUserManagerPage.css
  app/frontend/pages/wishlist/wishlistUserManager/WishlistUserManagerPage.ejs
  app/frontend/pages/wishlist/wishlistUserManager/WishlistUserManagerPage.js
Labels: Frontend, Ready For Review

#177 Auth endpoint
  app/backend/src/controllers/auth.controller.js
  app/backend/src/controllers/user.controller.js
  app/backend/src/exceptions/BadRequestError.js
  app/backend/src/exceptions/ForbiddenError.js
  app/backend/src/exceptions/NotFoundError.js
  app/backend/src/exceptions/NotImplementedError.js
  app/backend/src/exceptions/ServerError.js
  app/backend/src/models/auth.model.js
  app/backend/src/models/cart.model.js
  app/backend/src/models/user_wishlist_relation.model.js
  app/backend/src/models/wishlistitem.model.js
  app/backend/src/objects/user/AuthUser.js
  app/backend/src/objects/user/Roles.js
  app/backend/src/objects/wishlist/Wishlist.js
  app/backend/src/routes/auth.routes.js
  app/backend/src/services/access.service.js
  app/backend/src/services/auth.service.js
  app/backend/src/services/cart.service.js
  app/backend/src/services/order.service.js
  app/backend/src/services/wishlist.service.js
  bruno/auth/hasAccess.bru
Labels: help wanted, question, Backend

#170 Admin Navbar
  app/frontend/components/navbar/navbar.css
  app/frontend/components/navbar/navbar.html
  app/frontend/components/navbar/navbar.js
  app/frontend/controller/AuthController.js
  app/frontend/helper.js
  app/frontend/pages/profile/ProfilePage.ejs
Labels: Frontend, Ready For Review

#196 Page login again
  app/backend/src/services/auth.service.js
  app/backend/src/services/cart.service.js
  app/frontend/controller/AuthController.js
  app/frontend/frontend.index.js
  app/frontend/pages/notAllowed/notAllowedPage.css
  app/frontend/pages/notAllowed/notAllowedPage.ejs
  app/frontend/pages/notAllowed/notAllowedPage.js
Labels: Frontend, Backend, Ready For Review

#199 added pictures and test data
  app/frontend/components/CartItem/CartItem.ejs
  app/frontend/img/cartItem/1.png
  app/frontend/img/cartItem/2.png
  app/frontend/img/cartItem/3.png
  app/frontend/img/cartItem/4.png
  app/frontend/img/cartItem/5.png
  app/frontend/img/cartItem/6.png
  app/frontend/img/cartItem/7.png
  app/frontend/img/cartItem/8.png
  app/frontend/img/cartItem/9.png
  app/frontend/img/detailledProducts/1.png
  app/frontend/img/detailledProducts/2.png
  app/frontend/img/detailledProducts/3.png
  app/frontend/img/detailledProducts/4.png
  app/frontend/img/detailledProducts/5.png
  app/frontend/img/detailledProducts/6.png
  app/frontend/img/detailledProducts/7.png
  app/frontend/img/detailledProducts/8.png
  app/frontend/img/detailledProducts/9.png
  app/frontend/img/products/1.png
  app/frontend/img/products/2.png
  app/frontend/img/products/3.png
  app/frontend/img/products/4.png
  app/frontend/img/products/5.png
  app/frontend/img/products/6.png
  app/frontend/img/products/7.png
  app/frontend/img/products/8.png
  app/frontend/img/products/9.png
  app/frontend/pages/admin/createProduct/CreateProductPage.css
  app/frontend/pages/admin/createProduct/CreateProductPage.ejs
  app/frontend/pages/checkout/CheckoutPage.ejs
  app/frontend/pages/orders/OrderPage.css
  app/frontend/pages/orders/OrderPage.ejs
  app/frontend/pages/products/productDetailled/ProductDetailled.css
  app/frontend/pages/products/productDetailled/ProductDetailled.ejs
  app/frontend/pages/products/productPage/ProductPage.ejs
  app/frontend/pages/wishlist/detailedWishlist/DetailedWishlistPage.ejs
  db/testdata.sql
Labels: Ready For Review
