Repository Orden-der-letzten-Haltestelle/WebEngineering, pull requests merged in 2025-06, with the labels that each got.

#44 Überarbeitete Struktur 3 layer system
  README.md
  app/backend/src/controllers/product.controller.js
  app/backend/src/exceptions/DatabaseError.js
  app/backend/src/models/pool.js
  app/backend/src/models/product.model.js
  app/backend/src/objects/items/CartItem.js
  app/backend/src/objects/items/Item.js
  app/backend/src/objects/items/OrderItem.js
  app/backend/src/objects/items/Product.js
  app/backend/src/objects/items/WishlistItem.js
  app/backend/src/objects/user/BasicUser.js
  app/backend/src/objects/user/Roles.js
  app/backend/src/objects/user/User.js
  app/backend/src/objects/user/WishlistMember.js
  app/backend/src/objects/user/WishlistRoles.js
  app/backend/src/objects/wishlist/BasicWishlist.js
  app/backend/src/objects/wishlist/Wishlist.js
  app/backend/src/routes/product.routes.js
  app/backend/src/services/product.service.js
  app/backend/tests/controllers/product.controller.test.js
  app/backend/tests/models/product.model.test.js
  app/backend/tests/services/product.service.test.js
  app/config/jest.config.mjs
  app/connector/Products.js
  app/index.js
  app/package.json
  app/router/products.js
Labels: Backend, improvement

#49 added dev server
  README.md
  app/package.json
Labels: Backend, improvement

#68 Responsive Navbar
  app/frontend/components/navbar/navbar.css
  app/frontend/components/navbar/navbar.html
  app/frontend/components/navbar/navbar.js
  app/frontend/helper.js
  app/frontend/index.css
  app/frontend/index.html
  app/index.js
  app/package-lock.json
Labels: Frontend

#77 there was still an issue, with the object structure.
  app/backend/src/objects/user/AdvancedAuthUser.js
  app/backend/src/objects/user/AuthUser.js
  app/backend/src/objects/user/User.js
Labels: bug, Backend

#82 footer done
  app/frontend/components/footer/footer.css
  app/frontend/components/footer/footer.html
  app/frontend/components/footer/footer.js
  app/frontend/index.css
  app/frontend/index.html
Labels: Frontend

#85 Frontend basis
  app/frontend/components/BeispielComponent/BeispielComponent.css
  app/frontend/components/BeispielComponent/BeispielComponent.ejs
  app/frontend/frontend.index.js
  app/frontend/img/BeispielImg.png
  app/frontend/index.ejs
  app/frontend/index.html
  app/frontend/pages/cart/CartPage.css
  app/frontend/pages/cart/CartPage.ejs
  app/frontend/pages/cart/CartPage.js
  app/frontend/pages/checkout/CheckoutPage.css
  app/frontend/pages/checkout/CheckoutPage.ejs
  app/frontend/pages/checkout/CheckoutPage.js
  app/frontend/pages/login/LoginPage.css
  app/frontend/pages/login/LoginPage.ejs
  app/frontend/pages/login/LoginPage.js
  app/frontend/pages/orders/OrderPage.css
  app/frontend/pages/orders/OrderPage.ejs
  app/frontend/pages/orders/OrderPage.js
  app/frontend/pages/products/ProductPage.css
  app/frontend/pages/products/ProductPage.ejs
  app/frontend/pages/products/ProductPage.js
  app/frontend/pages/profile/ProfilePage.css
  app/frontend/pages/profile/ProfilePage.ejs
  app/frontend/pages/profile/ProfilePage.js
  app/frontend/pages/register/RegisterPage.css
  app/frontend/pages/register/RegisterPage.ejs
  app/frontend/pages/register/RegisterPage.js
  app/frontend/pages/wishlist/WishlistPage.css
  app/frontend/pages/wishlist/WishlistPage.ejs
  app/frontend/pages/wishlist/WishlistPage.js
  app/index.js
  app/package.json
Labels: Frontend

#87 Improved Frontend (added security)
  app/backend/src/controllers/auth.controller.js
  app/backend/src/models/auth.model.js
  app/backend/src/routes/auth.routes.js
  app/backend/src/services/auth.service.js
  app/frontend/api/ApiError.js
  app/frontend/api/config.js
  app/frontend/api/user.js
  app/frontend/frontend.index.js
  app/frontend/helper.js
  app/frontend/pages/error/ErrorPage.css
  app/frontend/pages/error/ErrorPage.ejs
  app/frontend/pages/error/ErrorPage.js
  app/index.js
  app/package.json
Labels: Frontend, Backend

#92 Cart frontend
  app/frontend/api/CartApiHandler.js
  app/frontend/components/CartItem/CartItem.css
  app/frontend/components/CartItem/CartItem.ejs
  app/frontend/controller/CartController.js
  app/frontend/index.css
  app/frontend/index.ejs
  app/frontend/pages/cart/CartPage.css
  app/frontend/pages/cart/CartPage.ejs
  app/frontend/pages/cart/CartPage.js
  app/frontend/style/deletebutton.css
  app/frontend/style/dropdown.css
Labels: Frontend

#103 fixed navbar overlaying page
  app/frontend/components/navbar/navbar.css
  app/frontend/pages/checkout/CheckoutPage.css
  app/frontend/pages/error/ErrorPage.css
  app/frontend/pages/login/PasswordSupport/passwordSupport.ejs
  app/frontend/pages/orders/OrderPage.css
  app/frontend/pages/wishlist/WishlistPage.css
Labels: Frontend

#105 fixed testData and implemented request to test db connection
  app/backend/src/controllers/auth.controller.js
  app/backend/src/controllers/db.controller.js
  app/backend/src/models/auth.model.js
  app/backend/src/models/db.model.js
  app/backend/src/routes/db.routes.js
  app/backend/src/services/db.service.js
  app/index.js
  db/testdata.sql
Labels: Backend

#106 improved error handling in backend
  app/backend/src/controllers/auth.controller.js
  app/backend/src/controllers/cart.controllers.js
  app/backend/src/controllers/product.controller.js
  app/backend/src/exceptions/HttpError.js
  app/backend/src/models/auth.model.js
  app/backend/src/models/cart.model.js
  app/backend/src/models/product.model.js
  app/backend/src/models/user.model.js
  app/backend/src/services/auth.service.js
  app/backend/src/services/email.service.js
Labels: Backend

#110 fixed button over navbar
  app/frontend/index.css
Labels: bug, Frontend
